body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input, label {
  display: block;
}

input, textarea {
  margin-bottom: 1em;
  padding: 0.5em;
}

textarea {
  width: 90%;
  height: 10em;
  rows: 10;
}

button {
  margin-top: 1em;
}

.error-message {
  border: 1px solid red;
  background-color: #ffcccc;
  color: #99000;
}

#message {
  padding: 1em;
  margin-top: 1em;
}
